<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-left fix-header-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 text-center">
                <a class="navbar-brand" href="#">
                    Widget Edit
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.editText()" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
<div ng-model="model.text"
     text-angular
     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"></div>
    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>