
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-text pull-left fix-header-left">
                <a ng-href="#!/website" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 text-center">
                <a class="navbar-brand" >
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a  ng-href="#!/website/{{model.websiteId}}/page/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item active">

            <div class="row">
                <div class="col-lg-5 col-md-6 col-xs-9">
                    Name
                </div>
                <div class="col-lg-3 visible-lg">
                    Created
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    Accessed
                </div>
                <div class="col-sm-1 col-xs-3">
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="page in model.pages">

            <div class="row">
                <div class="col-lg-5 col-md-6 col-xs-9">
                    <a ng-href="#!/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-lg-3 col-md-2 visible-lg visible-md">
                    {{page.dateCreated | date}}
                </div>
                <div class="col-md-3 visible-lg visible-md">
                    {{page.dateCreated | date}}
                </div>
                <div class="col-sm-1 col-xs-3">
                    <a ng-href="#!/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a ng-href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
